/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/


/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
main.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 12em;
}

#gameinfo{
    text-align: center;
    flex-grow: 8;
    margin-top: 3em;
    margin-left: 18em;
}

#gameinfo h1{
    font-size: 3em;
    font-weight: bold;
}

#gameinfo h2{
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 7em;
}

#gameinfo form label{
    font-size: 2em;
}


#gameinfo form input#unready{
    margin-top: 2em;
    font-size: 1.8em;
    border: 2px black solid;
    background-color: transparent;
    padding: 0.4em;
}

#playerlist{
    margin-top: 5em;
    border: 2px solid black;
    padding-left: 1em;
    padding-right: 2em;
    margin-bottom: 5em;

}

#playerlist h1 {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#playerlist ul {
    padding-top: 1em;
    width: 9em;
}

#playerlist ul li{
    display: inline-block;
    padding-bottom: 1em;
    font-weight: bold;
}
#playerlist ul li:nth-child(even) {
    display: inline-block;
    text-align: right;
    padding-left: 2.4em;
    font-weight: normal;
}
