/*Put in this file all css that would be used across different pages like a common button.*/

@import url("reset.css");  /*this file imports the css into this so that you have to manually each time import reset.css too, BUT you have to have this file as first css linked else ur reset will override your custom css*/

@import url('https://fonts.googleapis.com/css?family=Neuton:700|Orbitron:900&display=swap'); /*Imports the fonts*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Questrial&display=swap');

/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/

/*------------------------*/
/*    GENERAL CLASSES     */
/*------------------------*/

.error{
    text-align: center;
    color: red;
    padding: 10px;
    margin-top: 20px;
    font-family: Neuton,sans-serif;
    font-size: 22px;
}

a{
    user-select: none;
}
