@import url('https://fonts.googleapis.com/css?family=Neuton:700|Orbitron:900&display=swap');

header {
    font-family: Orbitron, serif;
    font-size: 44px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
}

a {
    padding: 1% 2%;
    font-family: Neuton, serif;
    border: black 1px solid;
    text-decoration: none;
    color: black;
    transition: background-color 1s, color 1s;
    font-size: 22px;
    margin-left: 80vw;
    display: inline-block;
}

a:hover {
    color: white;
    background: black;
}