/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
body
{
    margin: 3rem;
    font-family: sans-serif;
}
h1
{
    text-align: center;
}
/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/


/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/



