/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
body {
    margin: 3rem;
    font-family: sans-serif;
    background-image: url("../../../images/background.png");
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 6.5rem;
    letter-spacing: 3px;
    color: white;
    font-weight: lighter;
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

a {
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 1.5rem;
    padding: 15px;
}




/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Questrial', sans-serif;
}

li {
    margin-top: 4rem;
    display: flex;
}

li label {
    margin-right: 5%;
    font-size: 2rem;
    text-align: right;
    width: 40%;
    letter-spacing: 2px;
}

input[type="text"], input[type="number"]{
    padding: 10px;
    font-size: 1.3rem;
}

input[type="text"]{
    width: 30%;
}


input[type="submit"] {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0 );
    text-decoration: none;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: none;
}

input[type="submit"]:hover{
    animation: glow 1s ease-in-out infinite alternate;
}

/*end glow elements*/

/*animatie glow effect*/

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e7c509, 0 0 5px #e7c509, 0 0 6px #e7c509;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #e7c509, 0 0 5px #e7c509, 0 0 6px #e7c509, 0 0 7px #e7c509, 0 0 8px #e7c509, 0 0 10px #e7c509;
    }
}

/*end animatie glow effect*/




/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

