/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
body {
    margin: 3rem;
    font-family: sans-serif;
    background-image: url("../../../images/background.png");
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 6.5rem;
    letter-spacing: 3px;
    color: white;
    font-weight: lighter;
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

a {
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 1.5rem;
    padding: 15px;
}

header {
    margin-bottom: 40px;
}

header a:hover {
    animation: glow 2s ease-in-out infinite alternate;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Questrial', sans-serif;
}

li {
    margin-top: 60px;
    display: flex;
}

li label {
    margin-right: 5%;
    font-size: 2rem;
    text-align: right;
    width: 40%;
    letter-spacing: 2px;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    font-size: 1.3rem;
    background-color: rgba(42, 42, 42, 0.5);
    font-family: 'Questrial', sans-serif;
    border: none;
    /* field heeft automatisch border, dit verwijderd die border*/
}

.shadow {
    width: 30%;
}

.shadowSmall, .shadow {
    box-shadow: 0 0 10px rgba(255, 244, 9, 0.6);
}

select {
    color: white;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    color: white;
}

input[type="text"]:focus, select:focus {
    background-color: rgb(231, 197, 9);
    box-shadow: 0 0 4px 5px rgb(255, 244, 9) inset;
    box-sizing: border-box;
    border: white;
    color: black;
}

input[type="submit"] {
    font-family: 'Questrial', sans-serif;
    text-shadow: black 1px 1px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 3px;
    color: white;
    background-color: rgb(231, 197, 9);
    box-shadow: 0 0 4px 5px rgb(255, 244, 9) inset;
    border: white 1px solid;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 15px;
    width: 100%;
}

input[type="submit"]:hover {
    box-shadow: 0 0 5px 3px white inset;
}

.shadowButton {
    box-shadow: 0 0 10px rgba(255, 244, 9, 0.6);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
