/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
body
{
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: sans-serif;
}
h1
{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 5rem;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;
}
section
{
    padding: 5px;
    border: 3px black solid;
    text-align: center;
    width: 13%;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/