/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/

body {
    height: 80vh;
    margin: 3rem;
    font-family: sans-serif;
    background-image: url("../../../images/background.png");
    background-size: cover;
}


h1 {
    font-size: 5rem;
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

header {
    padding: 15px;

}


header a {
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 1.5rem;
    padding: 15px;
}


aside {
    border: 1px black solid;
    margin-top: 10%;
    padding: 10px 10px 10px 15px;
    font-size: 1.5rem;
    flex-basis: 17%;
    margin-right: 40px;
    height: min-content;
}

main {
    text-align: center;
    flex-basis: 83%;
    height: 50%;
    margin-top: 10%;
}

main h1{
    margin: 30px;
}

main h1 + h2{
    margin-bottom: 45px;
}

main h1, main h2 {
    font-family: 'Berkshire Swash', cursive, sans-serif;
    color: white;
    letter-spacing: 2px;
}


/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/


/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

a .button{
    margin-top: 50px;
}

.button {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    border: 1px black solid;
    padding: 5px;
}

.button:hover {
    color: white;
    background: black;
}

aside dl{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside dt, aside dd {
    margin-bottom: 15px;
}

aside h2 {
    margin-bottom: 15px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 80%;

}

footer {
    margin: auto;
    width: 45%;
    text-align: center;
    font-size: 1.5em;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}

footer li {
    padding: 10px;
    margin-right: 10px;
}

#inviteURL {
    border: 1px black solid;
    padding: 5px;

}

#ready {
    width: 150px;
    margin: auto;
}

#copy:hover {
    text-decoration: underline;
}
.white{
    color: white;
}
.hide{
    display: none;
}
