/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
body {
    height: 93vh;
    margin: 7vh  7vh  0 7vh;
    font-family: sans-serif;
    background-image: url("../../../images/background.png");
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 5rem;
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

header a:hover{
    animation: glow 2s ease-in-out infinite alternate;
}

header a {
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 1.5rem;
}

#lobbyName{
    margin-top: 40px;
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 4rem;
    text-align: center;
    animation: glow 2s ease-in-out infinite alternate;
}


/*animatie glow effect*/

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e7c509, 0 0 5px #e7c509, 0 0 6px #e7c509;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #e7c509, 0 0 5px #e7c509, 0 0 6px #e7c509, 0 0 7px #e7c509, 0 0 8px #e7c509, 0 0 10px #e7c509;
    }
}

/*end animatie glow effect*/


#content h1 {
    margin: 30px;
}

#content h1 + h2 {
    margin-bottom: 45px;
}

#content h1, #content h2 {
    font-family: 'Berkshire Swash', cursive, sans-serif;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/
/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
.button {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    font-size: 2rem;
}
aside {
    font-family: 'Questrial', sans-serif;
    color: white;
    background-color: rgba(42, 42, 42, 0.5);
    padding: 10px 10px 10px 15px;
    font-size: 1.5rem;
    height: min-content;
    position: absolute;
    right: 0;
    top: 0;
}

dt {
    color: #e7c509;
}

aside dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside dt, aside dd {
    margin-bottom: 15px;
}

aside h2 {
    margin-bottom: 15px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 50%;
    position: relative;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: 'Questrial', sans-serif;
    position: absolute;
    bottom: 10px;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer li {
    padding: 10px;
    margin-right: 10px;
}

#inviteURL {
    border: 1px white solid;
    color: white;
    padding: 5px;
    background-color: rgba(42, 42, 42, 0.5);
}

#ready {
    width: 100%;
    border: 1px white solid;
    background-color: rgba(9, 231, 103, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4) inset;
    padding: 5px 30px;
}

#unready {
    border: 1px white solid;
    background-color: rgba(231, 9, 9, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4) inset;
    padding: 5px 38px;
}

.shadow {
    box-shadow: 0 0 10px 5px rgba(9, 231, 103, 0.8);
    padding: 6px 0;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#copy{
    cursor: grab;
}

#copy:hover {
    text-decoration: underline;
    animation: glow 2s ease-in-out infinite alternate;
}

.white {
    color: transparent;
}

.hide {
    display: none;
}
