/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
* {
    font-family: sans-serif; /* because serif is ugly */
}

h1, h5 {
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    height: 15%;
}

ul {
    text-align: center;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/
/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
/*---grid---*/
body {
    box-sizing: border-box;
    background-image: url("../../../images/background.png");
    background-size: cover;
}

/*---start header---*/
header {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

/*--- end header---*/
main {
    height: calc(82vh - 2px); /* prevents scrollbar from appearing*/
    padding: 4vh;
    border: black solid 1px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

#money, #bank, #market, #reserve, #scoreboard{
    background-color: rgba(42, 42, 42, 0.5);
    border: rgba(255, 255, 255, 0.5) 1px solid;
    box-shadow:  0 0 10px 3px rgba(255, 255, 255, 0.4);
}

#money {
    grid-area: 9 / 5 / 13 / 9;
}

/* ---start map---*/
#map {
    border: rgb(255, 255, 255) 1px solid;
    box-shadow:  0 0 10px 3px rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    grid-area: 1 / 5 / 9 /11;
    position: relative;
}

#map div {
    height: 100%;
    display: grid;
    margin: 0 auto;
    /*  grid-template-areas: "r1c1 r1c2 r1c3 r1c4 r1c5 r1c6 r1c7" "r2c1 r2c2 r2c3 r2c4 r2c5 r2c6 r2c7" "r3c1 r3c2 r3c3 r3c4 r3c5 r3c6 r3c7" "r5c1 r5c2 r5c3 r5c4 r5c5 r5c6 r5c7" "r4c1 r4c2 r4c3 r4c4 r4c5 r4c6 r4c7";
   */
}

#map .map3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#map .map5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#map .map7 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

#map .map9 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.fountain {
    background-image: url("../../../images/fountain.jpg");
}

.arcades {
    background-image: url("../../../images/arcades.jpg");
}

.chambers {
    background-image: url("../../../images/chambers.jpg");
}

.garden {
    background-image: url("../../../images/garden.jpg");
}

.pavilion {
    background-image: url("../../../images/pavilion.jpg");
}

.seraglio {
    background-image: url("../../../images/seraglio.jpg");
}

.tower {
    background-image: url("../../../images/tower.jpg");
}

.building {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Orbitron, cursive;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    user-select: none;
    height: 100%;
    box-sizing: border-box;
    /*border: 10px solid white;*/ /*#todo: make borders look like in rules and when no borders look normal? */
}

#map aside {
    position: absolute;
    top: 10px;
    right: 10px;
}

#map aside p {
    font-family: Lobster, cursive;
    font-size: 35px;
    display: inline-block;
    padding: 5px;
    user-select: none;
}

#map aside p:hover {
    color: red;
}

#map aside p.inactive {
   color: transparent;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    background: cornflowerblue; /*make it nice*/
}

/* ---end map---*/
#scoreboard {
    grid-area: 1 / 11 / 5 /13;
}

/*---start_reserve---*/
#reserve {

    grid-area: 9 / 9 / 13 /13;
    padding: 10px;
}

#reserve div {
    margin-top: 10px;
    overflow-x: auto;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: 1fr;
    box-sizing: border-box;
    height: 75%;
    white-space: nowrap;
    width: 100%;
    grid-auto-columns: minmax(120px, 1fr);
}

/*---end_reserve---*/
/*---turn_options---*/
#button_card {
    border: blue solid 2px;
    grid-area: 5 / 11 / 9 /13;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 4%;
    align-items: normal;
    text-align: center;
}

#button_card a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    user-select: none;
}

/*---end_turn_options---*/
/*---end_grid---*/
/*--scoreboard--*/
dl {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.2rem;
}

dd {
    text-align: right;
}

/*--end_scoreboard--*/
/*---bank---*/
#bank {
    grid-area: 1 / 1 / 6 /5;
}

#containerBank {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70%;
}

#bank h2 {
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    height: 30%;
}

#containerBank p.selectBankCoin {
    outline: blue dashed thick;
}

#containerBank p {
    border: solid 1px black;
    width: 25%;
    margin: 5px;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.blue {
    background-color: royalblue;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

/*---bank_end---*/
/*---market---*/
#market {
    grid-area: 6 / 1 / 13 /5;
    padding: 2vh;
    box-sizing: border-box;
}

#market h1 {
    height: 15%;
}

#marketGrid {
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 15px;
}

#marketGrid p {
    height: 90%; /* somehow if i dont do this the buildings gets malformed in the market but this is just arbitrary value*/
}

#marketGrid p.selectMarketBuilding {
    outline: blue dashed thick;
}

#market footer {
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}

#market footer h3 {
    font-size: 0.9rem;
    text-align: center;
}

#market footer p {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.westWall {
    border-left: black 10px solid;
}

.northWall {
    border-top: black 10px solid;
}

.southWall {
    border-bottom: black 10px solid;
}

.eastWall {
    border-right: black 10px solid;
}

img {
    width: 100%;
}

/*---end_market---*/
/*---money---*/
#money h1 {
    height: 20%;
}

#moneyPlayer {
    display: flex;
    justify-content: space-evenly;
}

#money ul {
    padding: 5px;
}

#money h4 {
    text-align: center;
}

#money section {
    width: 50%;
}

#money ul li {
    float: left;
    border-radius: 100%;
    margin: 2px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#blueMoneyPlayer li {
    background-color: royalblue;
}

#greenMoneyPlayer li {
    background-color: green;
}

#yellowMoneyPlayer li {
    background-color: yellow;
}

#orangeMoneyPlayer li {
    background-color: orange;
}

#money .selectCoin {
    outline: black dashed medium;
}

/*---end_money---*/
/*---header styling---*/
.hidden {
    display: none;
}

header a {
    margin: 20px;
    display: inline-block;
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
}

header h2, header span{
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: lighter;
}

header span{
    animation: glow 1s ease-in-out infinite alternate;
}

header a:hover{
    animation: glow 1s ease-in-out infinite alternate;
}


/*animatie glow effect*/

@keyframes glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #e7c509, 0 0 5px #e7c509, 0 0 6px #e7c509;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #e7c509, 0 0 5px #e7c509, 0 0 6px #e7c509, 0 0 7px #e7c509, 0 0 8px #e7c509, 0 0 10px #e7c509;
    }
}

/*end animatie glow effect*/

/*---end_leave_button---*/

/*---leave popup---*/

#popup h5 {
    margin-bottom: 30px;
}

#popup a {
    font-weight: bold;
    padding: 15px 30px;
    color: #FFFFFF;
    border: 1px solid black;
}

.No {
    background-color: red;
}

.Yes {
    background-color: limegreen;
    margin-right: 20%;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 35%;
    background-color: #FFF;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
}
/*---end of leave pop up---*/

/*---pointsystem---*/

.pointsystem {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.pointsystemcontent {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.close {
    position: absolute;
    top: 0.1em;
    right: 0.3em;
    font-size: 1.8em;
    transform: rotate(45deg);
    cursor: pointer;
}

.grid-points div ul li {
    display: inline;
}

.grid-round ul {
    text-align: right;
    margin-right: 6em;
    margin-top: 2em;
}

.grid-round ul li {
    text-align: right;
    padding-left: 4em;
}

.grid-content ul {
    text-align: right;
    margin-right: 4.8em;
    margin-top: 0.7em;
}

.grid-content ul li {
    padding-left: 0.5em;
}

.grid-content ul li.first-of-roundC {
    padding-left: 1.6em;
}

.grid-content ul li.first-of-roundB {
    padding-left: 3.5em;
}

.grid-content ul li.doubledigits {
    padding-left: 0.1em;
}

.grid-players ul {
    text-align: right;
    margin-right: 4.8em;
    margin-top: 0.7em;
}

.grid-players ul li {
    padding-left: 0.5em;
}

.grid-players ul li.first-of-roundC {
    padding-left: 2.1em;
}

.grid-players ul li.first-of-roundB {
    padding-left: 3.5em;
}

/*--end_pointsystem--*/
#mouseError {
    padding: 2px;
    background: red;
    border: darkred solid medium;
    border-radius: 10px;
    color: white;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    left: 0;
    top: 0;
}

#hand {
    position: absolute;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

