/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
body {
    height: 80vh;
    margin: 3rem;
    font-family: sans-serif;
    background-image: url("../../../images/background.png");
    background-size: cover;
}

h1 {
    font-size: 5rem;
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

header a {
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 1.5rem;
}

aside {
    font-family: 'Questrial', sans-serif;
    color: white;
    background-color: rgba(42, 42, 42, 0.5);
    margin-top: 10%;
    padding: 10px 10px 10px 15px;
    font-size: 1.5rem;
    flex-basis: 17%;
    margin-right: 40px;
    height: min-content;
}

dt {
    color: #e7c509;
}

main {
    text-align: center;
    flex-basis: 83%;
    height: 50%;
    margin-top: 10%;
}

main h1 {
    margin: 30px;
}

main h1 + h2 {
    margin-bottom: 45px;
}

main h1, main h2 {
    font-family: 'Berkshire Swash', cursive, sans-serif;
    color: white;
    letter-spacing: 2px;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/
/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
.button {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    font-size: 2rem;
}

aside dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside dt, aside dd {
    margin-bottom: 15px;
}

aside h2 {
    margin-bottom: 15px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    height: 80%;
}

footer {
    margin: auto;
    width: 45%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: 'Questrial', sans-serif;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer li {
    padding: 10px;
    margin-right: 10px;
}

#inviteURL {
    border: 1px white solid;
    color: white;
    padding: 5px;
    background-color: rgba(42, 42, 42, 0.5);
}

#ready {
    width: 100%;
    border: 1px white solid;
    background-color: rgba(9, 231, 103, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4) inset;
    padding: 5px 30px;
}

#unready {
    border: 1px white solid;
    background-color: rgba(231, 9, 9, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4) inset;
    padding: 5px 38px;
}

.shadow {
    box-shadow: 0 0 10px 5px rgba(9, 231, 103, 0.8);
    padding: 6px 0;
    width: 216px;
    margin-left: auto;
    margin-right: auto;
}

#copy:hover {
    text-decoration: underline;
}

.white {
    color: white;
}

.hide {
    display: none;
}
