/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/
*{
    font-family: sans-serif;
}

li{
    padding: 5px;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

aside{
    width: 10%;
    border: solid 1px black;
}

ul{
    text-align: center;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

