/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

body{
    background-image: url("../../../images/background.png");
    background-size: cover;
}

h1, nav {
    text-align: center;
    font-family: sans-serif;
}


h1{
    margin-top: 150px;
    font-family: 'Berkshire Swash', cursive;
}


span{
    font-size: 250px;
}

li {
    padding: 20px;
}


/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

nav{
    margin-top: 25px;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/


nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px;
    font-family: 'Berkshire Swash', cursive;
}



a#rules{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 1em;
    float: right;
    margin-top: 1em;
    border: 2px white solid;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
}




