/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/

h1, nav {
    text-align: center;
    font-family: sans-serif;
}


h1{
    font-size: 5rem;
    margin-top: 250px;
}

a#rules{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    margin-right: 1em;
    margin-left: 58em;
    margin-top: 1em;
    padding: 0.2em;
    border: 2px black solid;
    border-radius: 25px;
}

a#rules:hover{
    color: white;
    background-color: black;
}



li {
    padding: 20px;
}



/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

nav{
     margin-top: 25px;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/


nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    border: 1px black solid;
    padding: 5px;
}