/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/

body {
    margin: 3rem;
    font-family: sans-serif;
    background-image: url("../../../images/background.png");
    background-size: cover;
}



a{
    color: white;
    font-family: 'Berkshire Swash', cursive, sans-serif;
    font-size: 1.5rem;
    padding: 15px;
    display: inline-block;
    text-align: center;
    line-height: 1.8;
    flex-grow: 1;
}

a:first-child:hover{
    animation: glow 2s ease-in-out infinite alternate;
}
/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/


/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
main.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 12em;
}

#gameinfo{
    text-align: center;
    flex-grow: 8;
    margin-top: 3em;
}

#gameinfo h1{
    text-align: center;
    font-size: 5.5rem;
    letter-spacing: 3px;
    color: white;
    font-weight: lighter;
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

#gameinfo form{
    margin-top: 15em;
    color: white;
    font-family: 'Questrial', sans-serif;
}

#gameinfo form label{
    font-size: 2em;
}



input[type="submit"] {
    font-family: 'Questrial', sans-serif;
    text-shadow: black 1px 1px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 3px;
    color: white;
    background-color: rgb(231, 197, 9);
    box-shadow:  0 0 4px 5px rgb(255, 244, 9) inset;
    border: white 1px solid;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 15px;
}

input[type="submit"]:hover{
    box-shadow:  0 0 5px 3px white inset;
}


.shadowButton{
    box-shadow:  0 0 10px rgba(255, 244, 9, 0.6);
}


#gameinfo li{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

input[type="text"]{
    color: white;
    padding: 10px;
    font-size: 1.3rem;
    background-color: rgba(42, 42, 42, 0.5);
    font-family: 'Questrial', sans-serif;
    border: none;
    width: 100%;
    box-sizing: border-box;
    /* field heeft automatisch border, dit verwijderd die border*/
}

.shadow{
    box-shadow:  0 0 10px rgba(255, 244, 9, 0.6);
    margin-left: 65px;
    width: 40%;
}


input[type="text"]:focus{
    background-color: rgb(231, 197, 9);
    box-shadow:  0 0 4px 5px rgb(255, 244, 9) inset;
    box-sizing: border-box;
    border: white;
    color: black;
}