/*------------------------*/
/*    GENERAL ELEMENTS    */
/*------------------------*/

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

body{
    text-align: center;
    font-family: 'Questrial', sans-serif;
    color: white;
    background-image: url("../../../images/background.png");
    background-size: cover;
}

header{
    font-size: 5rem;
    margin-top: 100px;
    font-family: 'Berkshire Swash', cursive;
}

.glow {
    font-size: 100px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

/*end animatie glow effect*/
nav a:hover, a#index:hover{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
h1{
    margin-top: 1.2em;
    display: inline-block;
}

p{
    margin-top: 0.7em;
    text-decoration: underline;

}
ul{
    margin-top: 2em;
}
ul li{
    margin-top: 0.2em;
    line-height: 1.2em;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

a#index{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 1em;
    margin-left: 58em;
    margin-top: 1em;
    border: 2px white solid;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2em 0.3em 0.2em 0.2em;
}

a#buildingrulesbutton, a#twoplayersrulesbutton{
    display: inline-block;
    text-decoration: none;
    font-size: 1.6em;
    color: white;
}

strong{
    font-weight: 600;
}

